


#photo-gallery{
    background-color: blue;
    height: 900px;
    overflow: hidden;
}

.photo-column{
    background-color: sienna;
    height: 900px;
    overflow: hidden;
}

.photo-sm{
    background-color: white;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.photo-bg{
    background-color: black;
    width: 100%;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.pht{
    width: 100%;
    height: 100%;
}

@media (min-width: 575.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}